html, body{
  margin: 0;
  padding: 0;
  color: #fff;
}

p {
  padding: 10px;
}

section {
  position: relative;
  height: 1000px;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#logo {
  position: absolute;
  top: -200px;
  left: 800px;
  transform:rotate(25deg);
  -ms-transform:rotate(25deg); /* IE 9 */
  -webkit-transform:rotate(25deg); /* Safari and Chrome */
  -webkit-filter: drop-shadow(2px 4px 3px rgba(0,0,0,0.6));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#ccc')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#ccc')";
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

.menu-btn{
  // don't define top, left, width, height, position here or it will break, it must be inline style and set with javascript
  z-index: 1001;
  font-size: 4em;
  padding-left: 10px;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

#intro_title{
  width: 100%;
  z-index: 1001;
  position: absolute;
  top: 300px;
}

#intro_title h1{
  width: 650px;
  margin: auto;
  z-index: 1001;
  color: #fff;
  font-size: 6em;
  font-family: Baskerville, Calson, Georgia, serif;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

#instructions{
  width: 1280px;
  top: 550px;
  position: absolute;
  z-index: 1;
}
#instructions p{
  width: 100px;
  margin: auto;
}
#arrow{
  font-family: gil sans, arial, sans;
  font-size: 10em;
  top: -20px;
  position: absolute;
  margin: 0;
  padding:0;
  display: block;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

#top_layer{
  z-index: 800;
  width: 6000px;
  top: 0px;
  height: 768px;
}

#test{
  height: 100%;
  top: -50px;
  width: 1280px;
  background: white;
  padding: 10px 30px;
  border: 1px #eee solid;
  position: absolute;
}

#intro_text{
  left: 1340px;
  top: 0px;
  width: 700px;
  height: 100%;
  display: block;
  position: absolute;
  background: url(../images/black_pattern_tile.jpg) repeat;
}

#secondary_text{
  left: 3000px;
  top: 0px;
  width: 1000px;
  height: 100%;
  display: block;
  position: absolute;
  background: url(../images/black_pattern_tile.jpg) repeat;
}

#last_text{
  width: 300px;
  left: 5700px;
  display: block;
  position: absolute;
  height: 768px;
  background: url(../images/black_pattern_tile.jpg) repeat;
}

#sketch {
  left: 3100px;
  top:0px;
  height: 100%;
  position: absolute;
}

#balcony {
  left: 3400px;
  top:0px;
  height: 100%;
  position: absolute;
}

#belem_photo {
  left: 3800px;
  top:0px;
  height: 100%;
  position: absolute;
}


#middle_layer{
  z-index: 600;
  height: 768px;
  width: 5000px;
}

#back_layer {
  z-index: 500;
  height: 768px;
  width: 5200px;
}

.belem_window {
  left: 1500px;
  top: 0px;
  width: 600px;
  height: 768px;
  display: block;
  position: absolute;
}

ol {
  list-style: none;
}

.frame-list li{
  -webkit-background-size: auto 400px;
  -moz-background-size: auto 400px;
  background-size: auto 400px;
}

.frame-list li.active {
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
  -moz-background-size: auto auto;
  background-size: auto auto;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.frame-list li:nth-child(1) {
  background-image: url("../images/marina_stills/left.MOV000.png");
}
.frame-list li:nth-child(2) {
  background-image: url("../images/marina_stills/left.MOV001.png");
}
.frame-list li:nth-child(3) {
  background-image: url("../images/marina_stills/left.MOV002.png");
}
.frame-list li:nth-child(4) {
  background-image: url("../images/marina_stills/left.MOV005.png");
}
.frame-list li:nth-child(5) {
  background-image: url("../images/marina_stills/left.MOV010.png");
}
.frame-list li:nth-child(6) {
  background-image: url("../images/marina_stills/left.MOV015.png");
}
.frame-list li:nth-child(7) {
  background-image: url("../images/marina_stills/left.MOV020.png");
}
.frame-list li:nth-child(8) {
  background-image: url("../images/marina_stills/left.MOV025.png");
}
.frame-list li:nth-child(9) {
  background-image: url("../images/marina_stills/left.MOV030.png");
}
.frame-list li:nth-child(10) {
  background-image: url("../images/marina_stills/left.MOV035.png");
}
.frame-list li:nth-child(11) {
  background-image: url("../images/marina_stills/left.MOV040.png");
}
.frame-list li:nth-child(12) {
  background-image: url("../images/marina_stills/left.MOV045.png");
}
.frame-list li:nth-child(13) {
  background-image: url("../images/marina_stills/left.MOV050.png");
}
.frame-list li:nth-child(14) {
  background-image: url("../images/marina_stills/left.MOV055.png");
}
.frame-list li:nth-child(15) {
  background-image: url("../images/marina_stills/left.MOV060.png");
}
.frame-list li:nth-child(16) {
  background-image: url("../images/marina_stills/left.MOV065.png");
}
.frame-list li:nth-child(17) {
  background-image: url("../images/marina_stills/left.MOV070.png");
}
.frame-list li:nth-child(18) {
  background-image: url("../images/marina_stills/left.MOV075.png");
}
.frame-list li:nth-child(19) {
  background-image: url("../images/marina_stills/left.MOV080.png");
}
.frame-list li:nth-child(20) {
  background-image: url("../images/marina_stills/left.MOV085.png");
}
.frame-list li:nth-child(21) {
  background-image: url("../images/marina_stills/left.MOV090.png");
}
.frame-list li:nth-child(22) {
  background-image: url("../images/marina_stills/left.MOV095.png");
}
.frame-list li:nth-child(23) {
  background-image: url("../images/marina_stills/left.MOV104.png");
}




