@import "colors";

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

#title_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    background-color: $dark_gray;
    text-align: center;
    overflow: hidden;

    #location {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        margin-top: -10%;

        #logo {
            width: 10%;
        }

        #address {
            color: #667;
        }
    }
}