.frame-list li{
  background-size: contain;
  background-color: #000000;
}


@for $i from 0 through 169 {
  $c: $i + 1;
  .frame-list
    li:nth-of-type(#{$i}) {
      @if $i < 10 {
        background: url("../images/tower_of_belem_river_frames/tower_of_belem_river00#{$i}.png");
      } @else if $i < 100 {
        background: url("../images/tower_of_belem_river_frames/tower_of_belem_river0#{$i}.png");
      } @else {
        background: url("../images/tower_of_belem_river_frames/tower_of_belem_river#{$i}.png");
      }
      background-size: contain;
    }
}

