/* line 1, ../sass/discoveries_monument_animation.scss */
.frame-list li {
  background-size: contain;
  background-color: #000000;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(0) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking000.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(1) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking001.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(2) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking002.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(3) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking003.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(4) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking004.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(5) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking005.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(6) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking006.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(7) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking007.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(8) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking008.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(9) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking009.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(10) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking010.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(11) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking011.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(12) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking012.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(13) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking013.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(14) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking014.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(15) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking015.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(16) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking016.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(17) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking017.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(18) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking018.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(19) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking019.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(20) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking020.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(21) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking021.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(22) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking022.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(23) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking023.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(24) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking024.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(25) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking025.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(26) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking026.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(27) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking027.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(28) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking028.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(29) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking029.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(30) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking030.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(31) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking031.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(32) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking032.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(33) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking033.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(34) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking034.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(35) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking035.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(36) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking036.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(37) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking037.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(38) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking038.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(39) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking039.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(40) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking040.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(41) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking041.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(42) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking042.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(43) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking043.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(44) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking044.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(45) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking045.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(46) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking046.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(47) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking047.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(48) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking048.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(49) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking049.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(50) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking050.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(51) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking051.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(52) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking052.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(53) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking053.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(54) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking054.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(55) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking055.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(56) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking056.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(57) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking057.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(58) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking058.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(59) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking059.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(60) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking060.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(61) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking061.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(62) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking062.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(63) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking063.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(64) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking064.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(65) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking065.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(66) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking066.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(67) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking067.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(68) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking068.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(69) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking069.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(70) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking070.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(71) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking071.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(72) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking072.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(73) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking073.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(74) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking074.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(75) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking075.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(76) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking076.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(77) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking077.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(78) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking078.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(79) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking079.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(80) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking080.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(81) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking081.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(82) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking082.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(83) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking083.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(84) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking084.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(85) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking085.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(86) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking086.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(87) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking087.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(88) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking088.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(89) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking089.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(90) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking090.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(91) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking091.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(92) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking092.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(93) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking093.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(94) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking094.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(95) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking095.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(96) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking096.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(97) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking097.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(98) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking098.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(99) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking099.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(100) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking100.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(101) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking101.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(102) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking102.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(103) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking103.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(104) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking104.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(105) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking105.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(106) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking106.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(107) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking107.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(108) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking108.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(109) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking109.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(110) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking110.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(111) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking111.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(112) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking112.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(113) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking113.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(114) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking114.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(115) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking115.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(116) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking116.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(117) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking117.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(118) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking118.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(119) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking119.png");
  background-size: contain;
}

/* line 10, ../sass/discoveries_monument_animation.scss */
#people_walking_frame_list
li:nth-of-type(120) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking120.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(0) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking000.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(1) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking001.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(2) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking002.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(3) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking003.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(4) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking004.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(5) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking005.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(6) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking006.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(7) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking007.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(8) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking008.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(9) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking009.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(10) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking010.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(11) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking011.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(12) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking012.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(13) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking013.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(14) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking014.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(15) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking015.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(16) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking016.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(17) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking017.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(18) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking018.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(19) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking019.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(20) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking020.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(21) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking021.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(22) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking022.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(23) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking023.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(24) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking024.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(25) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking025.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(26) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking026.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(27) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking027.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(28) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking028.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(29) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking029.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(30) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking030.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(31) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking031.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(32) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking032.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(33) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking033.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(34) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking034.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(35) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking035.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(36) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking036.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(37) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking037.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(38) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking038.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(39) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking039.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(40) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking040.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(41) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking041.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(42) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking042.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(43) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking043.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(44) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking044.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(45) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking045.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(46) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking046.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(47) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking047.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(48) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking048.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(49) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking049.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(50) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking050.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(51) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking051.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(52) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking052.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(53) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking053.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(54) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking054.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(55) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking055.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(56) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking056.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(57) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking057.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(58) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking058.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(59) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking059.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(60) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking060.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(61) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking061.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(62) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking062.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(63) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking063.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(64) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking064.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(65) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking065.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(66) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking066.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(67) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking067.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(68) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking068.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(69) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking069.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(70) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking070.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(71) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking071.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(72) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking072.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(73) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking073.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(74) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking074.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(75) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking075.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(76) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking076.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(77) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking077.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(78) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking078.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(79) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking079.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(80) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking080.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(81) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking081.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(82) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking082.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(83) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking083.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(84) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking084.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(85) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking085.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(86) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking086.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(87) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking087.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(88) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking088.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(89) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking089.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(90) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking090.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(91) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking091.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(92) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking092.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(93) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking093.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(94) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking094.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(95) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking095.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(96) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking096.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(97) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking097.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(98) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking098.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(99) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking099.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(100) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking100.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(101) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking101.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(102) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking102.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(103) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking103.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(104) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking104.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(105) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking105.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(106) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking106.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(107) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking107.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(108) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking108.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(109) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking109.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(110) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking110.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(111) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking111.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(112) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking112.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(113) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking113.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(114) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking114.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(115) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking115.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(116) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking116.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(117) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking117.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(118) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking118.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(119) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking119.png");
  background-size: contain;
}

/* line 25, ../sass/discoveries_monument_animation.scss */
#river_boat_pan_frame_list
li:nth-of-type(120) {
  background: url("../images/discoveries_monument_still_frames/discoveries_monument_people_walking120.png");
  background-size: contain;
}
