/* line 1, ../sass/discoveries_monument.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

/* line 8, ../sass/discoveries_monument.scss */
p {
  padding: 10px;
}

/* line 12, ../sass/discoveries_monument.scss */
section {
  position: relative;
  height: 1000px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/* line 19, ../sass/discoveries_monument.scss */
#logo {
  position: absolute;
  top: -200px;
  left: 800px;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  /* IE 9 */
  -webkit-transform: rotate(25deg);
  /* Safari and Chrome */
  -webkit-filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.6));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#ccc')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#ccc')";
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* line 35, ../sass/discoveries_monument.scss */
.menu-btn {
  z-index: 1001;
  font-size: 4em;
  padding-left: 10px;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* line 44, ../sass/discoveries_monument.scss */
#intro_title {
  width: 100%;
  z-index: 1001;
  position: absolute;
  top: 300px;
}

/* line 51, ../sass/discoveries_monument.scss */
#intro_title h1 {
  width: 900px;
  margin: auto;
  z-index: 1001;
  color: #fff;
  font-size: 6em;
  font-family: Baskerville, Calson, Georgia, serif;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* line 63, ../sass/discoveries_monument.scss */
#instructions {
  width: 1280px;
  top: 550px;
  position: absolute;
  z-index: 1;
}

/* line 69, ../sass/discoveries_monument.scss */
#instructions p {
  width: 100px;
  margin: auto;
}

/* line 73, ../sass/discoveries_monument.scss */
#arrow {
  font-family: gil sans, arial, sans;
  font-size: 10em;
  top: -20px;
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
}

/* line 86, ../sass/discoveries_monument.scss */
.blackdrop {
  background: url(../images/black_pattern_tile.jpg) repeat;
}

/* line 92, ../sass/discoveries_monument.scss */
#top_layer {
  z-index: 800;
  width: 10000px;
  top: 0px;
  height: 768px;
}

/* line 99, ../sass/discoveries_monument.scss */
#middle_layer {
  z-index: 600;
  height: 768px;
  width: 8000px;
}

/* line 105, ../sass/discoveries_monument.scss */
#back_layer {
  z-index: 500;
  height: 768px;
  width: 9000px;
}

/* line 111, ../sass/discoveries_monument.scss */
#first_frame {
  left: 0px;
  width: 1280px;
  height: 100%;
  position: absolute;
}

/* line 118, ../sass/discoveries_monument.scss */
#second_frame {
  left: 1280px;
  top: 0px;
  width: 700px;
  height: 100%;
  display: block;
  position: absolute;
}

/* line 127, ../sass/discoveries_monument.scss */
#third_frame {
  left: 1500px;
  top: 0px;
  width: 600px;
  height: 768px;
  display: block;
  position: absolute;
}

/* line 136, ../sass/discoveries_monument.scss */
#fourth_frame {
  left: 3000px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 143, ../sass/discoveries_monument.scss */
#fifth_frame {
  left: 3700px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 150, ../sass/discoveries_monument.scss */
#fifth_text_frame {
  width: 300px;
  left: 4300px;
  display: block;
  position: absolute;
  height: 768px;
  color: white;
}

/* line 159, ../sass/discoveries_monument.scss */
#sixth_frame {
  left: 5200px;
  top: 0px;
  width: 1280px;
  height: 100%;
  position: absolute;
}

/* line 167, ../sass/discoveries_monument.scss */
#seventh_frame {
  left: 5500px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 174, ../sass/discoveries_monument.scss */
#eighth_frame {
  left: 5800px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 181, ../sass/discoveries_monument.scss */
#ninth_frame {
  left: 7150px;
  width: 500px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 189, ../sass/discoveries_monument.scss */
#tenth_frame {
  left: 8000px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 197, ../sass/discoveries_monument.scss */
#conclusion {
  width: 300px;
  left: 9700px;
  display: block;
  position: absolute;
  height: 768px;
}

/* line 209, ../sass/discoveries_monument.scss */
ol {
  list-style: none;
}

/* line 213, ../sass/discoveries_monument.scss */
.frame-list li.active {
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
