/* line 1, ../sass/frames.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #000;
}

/* line 7, ../sass/frames.scss */
section {
  position: relative;
  height: 1000px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/* line 14, ../sass/frames.scss */
.menu-btn {
  background-color: grey;
  z-index: 1001;
}

/* line 20, ../sass/frames.scss */
#intro_title {
  width: 100%;
  z-index: 1001;
  position: absolute;
  top: 200px;
}

/* line 27, ../sass/frames.scss */
#intro_title h1 {
  width: 1000px;
  margin: auto;
  z-index: 1001;
  color: #fff;
  font-size: 6em;
  font-family: Georgia, serif;
  text-transform: uppercase;
}

/* line 37, ../sass/frames.scss */
#movie {
  z-index: 800;
  width: 6000px;
  top: 0px;
  height: 768px;
}

/* line 44, ../sass/frames.scss */
#test {
  height: 100%;
  top: -50px;
  width: 1280px;
  background: white;
  padding: 10px 30px;
  border: 1px #eee solid;
  position: absolute;
}

/* line 54, ../sass/frames.scss */
#intro_text {
  left: 1280px;
  top: 0px;
  width: 500px;
  height: 100%;
  display: block;
}

/* line 62, ../sass/frames.scss */
#viewport {
  height: 100%;
  width: 700px;
}

/* line 67, ../sass/frames.scss */
ol {
  list-style: none;
}

/* line 71, ../sass/frames.scss */
.frame-list li {
  -webkit-background-size: auto 400px;
  -moz-background-size: auto 400px;
  background-size: auto 400px;
}

/* line 77, ../sass/frames.scss */
.frame-list li.active {
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
  -moz-background-size: auto auto;
  background-size: auto auto;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 91, ../sass/frames.scss */
.frame-list li:nth-child(1) {
  background-image: url("../images/marina_stills/left.MOV000.png");
}

/* line 94, ../sass/frames.scss */
.frame-list li:nth-child(2) {
  background-image: url("../images/marina_stills/left.MOV001.png");
}

/* line 97, ../sass/frames.scss */
.frame-list li:nth-child(3) {
  background-image: url("../images/marina_stills/left.MOV002.png");
}

/* line 100, ../sass/frames.scss */
.frame-list li:nth-child(4) {
  background-image: url("../images/marina_stills/left.MOV005.png");
}

/* line 103, ../sass/frames.scss */
.frame-list li:nth-child(5) {
  background-image: url("../images/marina_stills/left.MOV010.png");
}

/* line 106, ../sass/frames.scss */
.frame-list li:nth-child(6) {
  background-image: url("../images/marina_stills/left.MOV015.png");
}

/* line 109, ../sass/frames.scss */
.frame-list li:nth-child(7) {
  background-image: url("../images/marina_stills/left.MOV020.png");
}

/* line 112, ../sass/frames.scss */
.frame-list li:nth-child(8) {
  background-image: url("../images/marina_stills/left.MOV025.png");
}

/* line 115, ../sass/frames.scss */
.frame-list li:nth-child(9) {
  background-image: url("../images/marina_stills/left.MOV030.png");
}

/* line 118, ../sass/frames.scss */
.frame-list li:nth-child(10) {
  background-image: url("../images/marina_stills/left.MOV035.png");
}

/* line 121, ../sass/frames.scss */
.frame-list li:nth-child(11) {
  background-image: url("../images/marina_stills/left.MOV040.png");
}

/* line 124, ../sass/frames.scss */
.frame-list li:nth-child(12) {
  background-image: url("../images/marina_stills/left.MOV045.png");
}

/* line 127, ../sass/frames.scss */
.frame-list li:nth-child(13) {
  background-image: url("../images/marina_stills/left.MOV050.png");
}

/* line 130, ../sass/frames.scss */
.frame-list li:nth-child(14) {
  background-image: url("../images/marina_stills/left.MOV055.png");
}

/* line 133, ../sass/frames.scss */
.frame-list li:nth-child(15) {
  background-image: url("../images/marina_stills/left.MOV060.png");
}

/* line 136, ../sass/frames.scss */
.frame-list li:nth-child(16) {
  background-image: url("../images/marina_stills/left.MOV065.png");
}

/* line 139, ../sass/frames.scss */
.frame-list li:nth-child(17) {
  background-image: url("../images/marina_stills/left.MOV070.png");
}

/* line 142, ../sass/frames.scss */
.frame-list li:nth-child(18) {
  background-image: url("../images/marina_stills/left.MOV075.png");
}

/* line 145, ../sass/frames.scss */
.frame-list li:nth-child(19) {
  background-image: url("../images/marina_stills/left.MOV080.png");
}

/* line 148, ../sass/frames.scss */
.frame-list li:nth-child(20) {
  background-image: url("../images/marina_stills/left.MOV085.png");
}

/* line 151, ../sass/frames.scss */
.frame-list li:nth-child(21) {
  background-image: url("../images/marina_stills/left.MOV090.png");
}

/* line 154, ../sass/frames.scss */
.frame-list li:nth-child(22) {
  background-image: url("../images/marina_stills/left.MOV095.png");
}

/* line 157, ../sass/frames.scss */
.frame-list li:nth-child(23) {
  background-image: url("../images/marina_stills/left.MOV104.png");
}
