/* line 1, ../sass/frames.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* line 7, ../sass/frames.scss */
p {
  padding: 10px;
}

/* line 11, ../sass/frames.scss */
section {
  position: relative;
  height: 1000px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/* line 18, ../sass/frames.scss */
.menu-btn {
  background-color: grey;
  z-index: 1001;
}

/* line 24, ../sass/frames.scss */
#intro_title {
  width: 100%;
  z-index: 1001;
  position: absolute;
  top: 200px;
}

/* line 31, ../sass/frames.scss */
#intro_title h1 {
  width: 1000px;
  margin: auto;
  z-index: 1001;
  color: #fff;
  font-size: 6em;
  font-family: Georgia, serif;
  text-transform: uppercase;
}

/* line 41, ../sass/frames.scss */
#top_layer {
  z-index: 800;
  width: 6000px;
  top: 0px;
  height: 768px;
}

/* line 48, ../sass/frames.scss */
#test {
  height: 100%;
  top: -50px;
  width: 1280px;
  background: white;
  padding: 10px 30px;
  border: 1px #eee solid;
  position: absolute;
}

/* line 58, ../sass/frames.scss */
#intro_text {
  left: 1340px;
  top: 0px;
  width: 700px;
  height: 100%;
  display: block;
  position: absolute;
  background: url(../images/black_pattern_tile.jpg) repeat;
}

/* line 68, ../sass/frames.scss */
#secondary_text {
  left: 3000px;
  top: 0px;
  width: 1000px;
  height: 100%;
  display: block;
  position: absolute;
  background: url(../images/black_pattern_tile.jpg) repeat;
}

/* line 78, ../sass/frames.scss */
#last_text {
  width: 300px;
  left: 5700px;
  display: block;
  position: absolute;
  height: 768px;
  background: url(../images/black_pattern_tile.jpg) repeat;
}

/* line 87, ../sass/frames.scss */
#sketch {
  left: 3100px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 94, ../sass/frames.scss */
#balcony {
  left: 3400px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 101, ../sass/frames.scss */
#belem_photo {
  left: 3800px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 109, ../sass/frames.scss */
#middle_layer {
  z-index: 600;
  height: 768px;
  width: 5000px;
}

/* line 115, ../sass/frames.scss */
#back_layer {
  z-index: 500;
  height: 768px;
  width: 5200px;
}

/* line 121, ../sass/frames.scss */
.belem_window {
  left: 1500px;
  top: 0px;
  width: 600px;
  height: 768px;
  display: block;
  position: absolute;
}

/* line 130, ../sass/frames.scss */
ol {
  list-style: none;
}

/* line 134, ../sass/frames.scss */
.frame-list li {
  -webkit-background-size: auto 400px;
  -moz-background-size: auto 400px;
  background-size: auto 400px;
}

/* line 140, ../sass/frames.scss */
.frame-list li.active {
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
  -moz-background-size: auto auto;
  background-size: auto auto;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 154, ../sass/frames.scss */
.frame-list li:nth-child(1) {
  background-image: url("../images/marina_stills/left.MOV000.png");
}

/* line 157, ../sass/frames.scss */
.frame-list li:nth-child(2) {
  background-image: url("../images/marina_stills/left.MOV001.png");
}

/* line 160, ../sass/frames.scss */
.frame-list li:nth-child(3) {
  background-image: url("../images/marina_stills/left.MOV002.png");
}

/* line 163, ../sass/frames.scss */
.frame-list li:nth-child(4) {
  background-image: url("../images/marina_stills/left.MOV005.png");
}

/* line 166, ../sass/frames.scss */
.frame-list li:nth-child(5) {
  background-image: url("../images/marina_stills/left.MOV010.png");
}

/* line 169, ../sass/frames.scss */
.frame-list li:nth-child(6) {
  background-image: url("../images/marina_stills/left.MOV015.png");
}

/* line 172, ../sass/frames.scss */
.frame-list li:nth-child(7) {
  background-image: url("../images/marina_stills/left.MOV020.png");
}

/* line 175, ../sass/frames.scss */
.frame-list li:nth-child(8) {
  background-image: url("../images/marina_stills/left.MOV025.png");
}

/* line 178, ../sass/frames.scss */
.frame-list li:nth-child(9) {
  background-image: url("../images/marina_stills/left.MOV030.png");
}

/* line 181, ../sass/frames.scss */
.frame-list li:nth-child(10) {
  background-image: url("../images/marina_stills/left.MOV035.png");
}

/* line 184, ../sass/frames.scss */
.frame-list li:nth-child(11) {
  background-image: url("../images/marina_stills/left.MOV040.png");
}

/* line 187, ../sass/frames.scss */
.frame-list li:nth-child(12) {
  background-image: url("../images/marina_stills/left.MOV045.png");
}

/* line 190, ../sass/frames.scss */
.frame-list li:nth-child(13) {
  background-image: url("../images/marina_stills/left.MOV050.png");
}

/* line 193, ../sass/frames.scss */
.frame-list li:nth-child(14) {
  background-image: url("../images/marina_stills/left.MOV055.png");
}

/* line 196, ../sass/frames.scss */
.frame-list li:nth-child(15) {
  background-image: url("../images/marina_stills/left.MOV060.png");
}

/* line 199, ../sass/frames.scss */
.frame-list li:nth-child(16) {
  background-image: url("../images/marina_stills/left.MOV065.png");
}

/* line 202, ../sass/frames.scss */
.frame-list li:nth-child(17) {
  background-image: url("../images/marina_stills/left.MOV070.png");
}

/* line 205, ../sass/frames.scss */
.frame-list li:nth-child(18) {
  background-image: url("../images/marina_stills/left.MOV075.png");
}

/* line 208, ../sass/frames.scss */
.frame-list li:nth-child(19) {
  background-image: url("../images/marina_stills/left.MOV080.png");
}

/* line 211, ../sass/frames.scss */
.frame-list li:nth-child(20) {
  background-image: url("../images/marina_stills/left.MOV085.png");
}

/* line 214, ../sass/frames.scss */
.frame-list li:nth-child(21) {
  background-image: url("../images/marina_stills/left.MOV090.png");
}

/* line 217, ../sass/frames.scss */
.frame-list li:nth-child(22) {
  background-image: url("../images/marina_stills/left.MOV095.png");
}

/* line 220, ../sass/frames.scss */
.frame-list li:nth-child(23) {
  background-image: url("../images/marina_stills/left.MOV104.png");
}
