/* line 1, ../sass/parallax.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* line 7, ../sass/parallax.scss */
section {
  position: relative;
  height: 1000px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/* line 14, ../sass/parallax.scss */
#intro {
  background: url(../images/levada.jpg) no-repeat fixed;
  background-size: cover;
}

/* line 19, ../sass/parallax.scss */
#gallery {
  background-color: #000;
}

/* line 23, ../sass/parallax.scss */
#copy {
  height: 100px;
  background-color: rgba(5, 5, 5, 0.4);
  background: url(../images/black_pattern_tile.jpg) repeat;
}

/* line 29, ../sass/parallax.scss */
#firework {
  height: 500px;
  background: url(../images/firework.jpg) no-repeat;
  background-size: cover;
}

/* line 36, ../sass/parallax.scss */
#madeiran_house {
  background: url(../images/madeiran_house.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
}

/* line 42, ../sass/parallax.scss */
#traugotts {
  background: url(../images/traugotts.jpg) 50% 0 no-repeat fixed;
  background-size: cover;
}
