/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
/* line 8, ../sass/pushy.scss */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #333332;
  font-size: 0.9em;
  font-weight: bold;
  -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, 0.7);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}

/* line 24, ../sass/pushy.scss */
.pushy a {
  display: block;
  color: #b3b3b1;
  padding: 15px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

/* line 33, ../sass/pushy.scss */
.pushy a:hover {
  background: #00b4ff;
  color: #FFF;
}

/* Menu Movement */
/* line 40, ../sass/pushy.scss */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  -o-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

/* line 48, ../sass/pushy.scss */
.pushy-open {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 56, ../sass/pushy.scss */
.container-push, .push-push {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  -o-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

/* Menu Transitions */
/* line 66, ../sass/pushy.scss */
.pushy, #container, .push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  /* improves performance issues on mobile*/
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

/* Site Overlay */
/* line 78, ../sass/pushy.scss */
.site-overlay {
  display: none;
}

/* line 82, ../sass/pushy.scss */
.pushy-active .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 200px;
  z-index: 9999;
}

/* Example Media Query */
@media screen and (max-width: 768px) {
  /* line 95, ../sass/pushy.scss */
  .pushy {
    font-size: 1.0em;
  }
}
