@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
/* line 4, ../sass/tower_of_belem.scss */
html, body {
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

/* line 11, ../sass/tower_of_belem.scss */
p {
  padding: 80px;
  font-family: 'Jacques Francois', serif;
  font-size: 2em;
}

/* line 17, ../sass/tower_of_belem.scss */
section {
  position: relative;
  height: 1000px;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
}

/* line 24, ../sass/tower_of_belem.scss */
#logo {
  position: absolute;
  top: -200px;
  left: 800px;
  transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  /* IE 9 */
  -webkit-transform: rotate(25deg);
  /* Safari and Chrome */
  -webkit-filter: drop-shadow(2px 4px 3px rgba(0, 0, 0, 0.6));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#ccc')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#ccc')";
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* line 40, ../sass/tower_of_belem.scss */
.menu-btn {
  z-index: 1001;
  font-size: 4em;
  padding-left: 10px;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* line 49, ../sass/tower_of_belem.scss */
#intro_title {
  width: 1280px;
  z-index: 1001;
  position: absolute;
  top: 250px;
}

/* line 56, ../sass/tower_of_belem.scss */
#intro_title h1 {
  top: -100px;
  left: 350px;
  display: block;
  position: absolute;
  width: 600px;
  margin: auto;
  color: #fff;
  font-size: 6em;
  font-family: 'Josefin Slab', Baskerville, Calson, Georgia, serif;
  text-shadow: horizontal-offset vertical-offset blur color;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

/* line 70, ../sass/tower_of_belem.scss */
#instructions {
  width: 1280px;
  top: 1150px;
  position: absolute;
  z-index: 1;
}

/* line 76, ../sass/tower_of_belem.scss */
#instructions span {
  width: 100%;
  margin: auto;
  display: block;
}

/* line 81, ../sass/tower_of_belem.scss */
#arrow {
  font-family: gil sans, arial, sans;
  font-size: 10em;
  top: -20px;
  position: absolute;
  margin: 0;
  padding: 0;
  display: block;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
}

/* line 94, ../sass/tower_of_belem.scss */
.blackdrop {
  background: url(../images/black_pattern_tile.jpg) repeat;
}

/* line 100, ../sass/tower_of_belem.scss */
#top_layer {
  z-index: 800;
  width: 10000px;
  top: 0px;
  height: 768px;
}

/* line 107, ../sass/tower_of_belem.scss */
#middle_layer {
  z-index: 600;
  height: 768px;
  width: 8000px;
}

/* line 113, ../sass/tower_of_belem.scss */
#back_layer {
  z-index: 500;
  height: 768px;
  width: 9000px;
}

/* line 119, ../sass/tower_of_belem.scss */
#first_frame {
  left: 0px;
  width: 1280px;
  height: 100%;
  position: absolute;
}

/* line 126, ../sass/tower_of_belem.scss */
#second_frame {
  left: 1280px;
  top: 0px;
  width: 700px;
  height: 100%;
  display: block;
  position: absolute;
}

/* line 135, ../sass/tower_of_belem.scss */
#third_frame {
  left: 1600px;
  top: 0px;
  width: 600px;
  height: 768px;
  display: block;
  position: absolute;
}

/* line 144, ../sass/tower_of_belem.scss */
#fourth_frame {
  left: 2700px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 151, ../sass/tower_of_belem.scss */
#fifth_frame {
  left: 4200px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 158, ../sass/tower_of_belem.scss */
#sixth_frame_background {
  left: 3000px;
  top: 0px;
  width: 1000px;
  height: 100%;
  display: block;
  position: absolute;
}

/* line 167, ../sass/tower_of_belem.scss */
#sixth_frame {
  left: 5800px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 174, ../sass/tower_of_belem.scss */
#seventh_frame {
  left: 6000px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 181, ../sass/tower_of_belem.scss */
#eighth_frame {
  left: 5700px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 188, ../sass/tower_of_belem.scss */
#ninth_frame {
  left: 6700px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 195, ../sass/tower_of_belem.scss */
#tenth_frame {
  left: 9400px;
  top: 0px;
  height: 100%;
  position: absolute;
}

/* line 203, ../sass/tower_of_belem.scss */
#conclusion {
  width: 300px;
  left: 9700px;
  display: block;
  position: absolute;
  height: 768px;
}

/* line 215, ../sass/tower_of_belem.scss */
ol {
  list-style: none;
}

/* line 219, ../sass/tower_of_belem.scss */
.frame-list li.active {
  background-position: 50%;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
